@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT Sans/ptsans-400.woff2") format("woff2"), url("../fonts/PT Sans/ptsans-400.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT Sans/ptsans-700.woff2") format("woff2"), url("../fonts/PT Sans/ptsans-700.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PT Sans/ptsans-italic-400.woff2") format("woff2"), url("../fonts/PT Sans/ptsans-italic-400.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fira Sans/firasans-700.woff2") format("woff2"), url("../fonts/Fira Sans/firasans-700.ttf") format("ttf");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  color: #000000;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.button {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: #ffffff;
}

/* шапка сайта */

.page-header {
  background-color: #f9f9f9;
  margin-bottom: 52px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.page-header-information-text {
  margin: 13px 0;
  color: #EE3643;
  font-size: 14px;
  font-style: italic;
}

.page-header-information-address {
  margin: 11px 0 15px;
  color: #32425C;
  font-size: 14px;
}

.contacts-phone {
  color: #293449;
  font-weight: 700;
  letter-spacing: 2px;
}

.page-header-user-container {
  background-color: #293449;
}

.page-navigation-link-logo {
  margin-bottom: -5px;
  width: 220px;
  height: 50px;
  flex-shrink: 0;
}

.user-search {
  display: flex;
  width: 100%;
}

.page-header-navigation-container {
  background-color: #3d546f;
}

.page-navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.page-navigation-link {
  padding: 10px;
}

.button-order {
  margin: 10px 0 18px;
  padding: 12px 10px;
  border-radius: 4px;
  background: #63a63e;
  width: 170px;
  flex-shrink: 0;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* основное содержимое index */

.submenu {
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  column-gap: 30px;
  row-gap: 29px;
  grid-template-areas: 
  "a b c "
  "f f d "
  "f f e ";
}

.submenu-card {
  width: 370px;
  min-height: content;
}

.card-materials {
  grid-area: a;
}

.card-tool {
  grid-area: b;
}

.card-technic {
  grid-area: c;
}

.card-discounts {
  grid-area: d;
}

.card-delivery {
  grid-area: e;
}

.submenu-card-title {
  margin: 20px 0 52px 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.submenu-card-link {
  display: block;
  padding: 11px 20px 11px 28px;
  margin: 52px 0 30px 25px;
  width: max-content;
  max-width: 193px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
}

.card-yellow {
  background: #ffbf47;
}

.card-blue {
  background: #3bbce3;
}

.card-purple {
  background: #dc91d8;
}

.card-green {
  background: #8ed78f;
}

.slider {
  grid-area: f;
  position: relative;
  width: 770px;
  height: 390px;
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #293449;
  background-image: url("/images/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-item {
  display: none;
}

.slider-item-current {
  display: block;
}

.slider-title {
  margin: 50px;
  margin-bottom: 10px;
  font-family: "Fira Sans", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-description {
  margin: 10px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.img-container {
  position: absolute;
  width: 770px;
  height: 390px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #884535;
}

.link-slider-container {
  margin: 180px 0 40px 50px;
}

.link-slider {
  margin: 0;
  padding: 14px 20px;
  max-width: 195px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  background: #ee3643;
  color: #ffffff;
}