@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT Sans/ptsans-400.woff2") format("woff2"), url("../fonts/PT Sans/ptsans-400.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT Sans/ptsans-700.woff2") format("woff2"), url("../fonts/PT Sans/ptsans-700.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PT Sans/ptsans-italic-400.woff2") format("woff2"), url("../fonts/PT Sans/ptsans-italic-400.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fira Sans/firasans-700.woff2") format("woff2"), url("../fonts/Fira Sans/firasans-700.ttf") format("ttf");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  color: #000000;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.button {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: #ffffff;
}

/* шапка сайта */

.page-header {
  background-color: #f9f9f9;
  margin-bottom: 52px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.page-header-navigation-container .page-header-container {
  padding: 10px 0 18px;
}

.page-header-information-text {
  margin: 13px 0;
  color: #EE3643;
  font-size: 14px;
  font-style: italic;
}

.page-header-information-address {
  margin: 11px 0 15px;
  color: #32425C;
  font-size: 14px;
}

.contacts-phone {
  color: #293449;
  font-weight: 700;
  letter-spacing: 2px;
}

.page-header-user-container {
  background-color: #293449;
}

.page-navigation-link-logo {
  margin-bottom: -5px;
  width: 220px;
  height: 50px;
  flex-shrink: 0;
}

.user-search {
  margin-left: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.user-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.input-field-search {
  border: none;
  background-color: transparent;
}

.input-field-search::placeholder {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.page-header-navigation-container {
  background-color: #3d546f;
}

.page-navigation-list {
  max-width: 903px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.page-navigation-link {
  padding: 10px;
}

.user-bookmarks-button,
.user-basket-button {
  width: 30px;
  height: 30px;
  background-color: #63a63e;
}

.button-order {
  padding: 12px 10px;
  border-radius: 4px;
  background: #63a63e;
  width: 170px;
  flex-shrink: 0;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* основное содержимое index */

/* секция крточек */

.submenu {
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  column-gap: 30px;
  row-gap: 29px;
  grid-template-areas: 
  "a b c "
  "f f d "
  "f f e ";
}

.submenu-card {
  position: relative;
  width: 370px;
  min-height: content;
}

.submenu-card::before {
  position: absolute;
  content: "";
  top: 45px;
  right: 37px;
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-materials {
  grid-area: a;
}

.card-materials::before {
  background-image: url("/images/icon-paints-white.svg");
}

.card-tool {
  grid-area: b;
}

.card-tool::before {
  background-image: url("/images/icon-tool.svg");
}

.card-technic {
  grid-area: c;
}

.card-technic::before {
  background-image: url("/images/icon-equipment.svg");
}

.card-discounts {
  grid-area: d;
}

.card-discounts::before {
  background-image: url("/images/icon-sale-white.svg");
}

.card-delivery {
  grid-area: e;
}

.submenu .card-delivery::before {
  background-image: url("/images/icon-delivery-white.svg");
}

.submenu-card-title {
  margin: 20px 0 52px 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.submenu-card-link {
  display: block;
  padding: 11px 20px 11px 28px;
  margin: 52px 0 30px 25px;
  width: max-content;
  max-width: 193px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
}

.card-yellow {
  background: #ffbf47;
}

.card-blue {
  background: #3bbce3;
}

.card-purple {
  background: #dc91d8;
}

.card-green {
  background: #8ed78f;
}

.slider {
  grid-area: f;
  position: relative;
  width: 770px;
  height: 390px;
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  background-image: url("/images/graphics/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-item {
  display: none;
}

.slider-item-current {
  display: block;
}

.slider-title {
  margin: 50px;
  margin-bottom: 10px;
  font-family: "Fira Sans", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-description {
  margin: 10px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.img-container {
  position: absolute;
  width: 770px;
  height: 390px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #884535;
}

.link-slider-container {
  margin: 180px 0 40px 50px;
}

.link-slider {
  margin: 0;
  padding: 14px 20px;
  max-width: 195px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  background: #ee3643;
  color: #ffffff;
}

/* секция каталога */

.catalog {
  margin: 0 auto;
  max-width: 1170px;
}

.catalog-title {
  max-width: 500px;
}

.catalog-container {
  display: flex;
}

.filter-products {
  width: 250px;
}

.filter-container {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-container-range-scale {
  margin-bottom: 40px;
}

.range-scale-position {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 95px);
  grid-template-rows: 40px 40px;
  column-gap: 30px;
  row-gap: 7px;
}

.range-scale-position::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  top: 68px;
  left: 106px;
  background-color: #293449;
  z-index: 2;
}

.range-scale {
  width: 220px;
  height: 40px;
  border-radius: 2px;
  background-color: #f7f3ec;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.range-scale-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40px;
  border-radius: 2px;
  background-color: #f7f3ec;
}

.filter-container-bluetooth {
  margin-top: 45px;
  margin-bottom: 30px;
}

.filter-title {
  margin-bottom: 8px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.range-scale {
  display: flex;
  position: relative;
  z-index: 1;
}

.range-scale::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 102px;
  height: 2px;
  background-color: #dcdcdc;
  z-index: -1;
}

.range-scale::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 31px;
  width: 64px;
  height: 2px;
  background-color: #5fbb2d;
  z-index: -1;
}

.range-scale-container {
  display: flex;
  align-items: center;
}

.range-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-scale-container-from {
  transform: translateX(19px);
}

.range-scale-container-to {
  transform: translateX(59px);
}

.range-scale-input {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  border: none;
  color: #293449;
  background-color: transparent;
}

.range-scale-input-from {
  width: 90px;
}

.range-scale-input-to {
  width: 90px;
}

.range-scale-input::placeholder {
  text-align: center;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
}

.filter-products-item {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  min-height: 20px;
}

.filter-products-item:not(:last-child),
.filter-products-item-bluetooth:not(:last-child) {
  margin-bottom: 18px;
}

.control {
  display: flex;
  align-items: center;
  padding-left: 36px;
  cursor: pointer;
}

.control-text {
  font-size: 14px;
  line-height: 18px;
}

.control-mark-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}

.control-mark-checkbox::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  border: 2px solid #3d546f;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  background-image: url("/images/graphics/checkbox-check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-mark-radio {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}

.control-mark-radio::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border: 2px solid #3d546f;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: #3d546f;
  border-radius: 50%;
}

.control:hover .control-mark-checkbox {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark-checkbox,
.control-input[type="radio"]:focus-visible + .control-mark-radio {
  outline: 2px solid #293449;
}

.control:active .control-mark-checkbox  {
  opacity: 0.2;
}

.control:active .control-text {
  opacity: 0.4;
}

.filter-products-button {
  padding: 12px 0 11px;
  width: 220px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid #3d546f;
  color: #3d546f;
}

/* сортировка */

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 280px;
  max-width: 280px;
  border-radius: 2px;
  border: 1px solid #3d546f;
  margin: 0;
  margin-right: 25px;
  padding: 8px;
  padding-right: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  background-image: url("стрелочка");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus-visible {
  outline: 2px solid #293449;
  outline-offset: 4px;
}

.select-control:active {
  opacity: 0.3;
}

/* каталог карточек */

.product-cards-container {
  margin-top: 31px;
}

.content-catalog {
  width: 876px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  column-gap: 33px;
  row-gap: 29px;
}

.product-card-link {
  position: relative;
  display: block;
  padding: 27px;
  padding-bottom: 23px;
}

.new::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url("/images/new.svg");
}

.product-card-image-container {
  width: 216px;
  height: 180px;
}

.product-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card-title {
  margin: 14px 0 11px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #293449;
}

.product-card-old-price {
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a9a9a9;
  opacity: 0;
}

.product-card-old-price::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
}

.product-card-old-price-active {
  opacity: 1;
}

.product-card-price {
  margin-top: 11px;
  padding: 11px 0;
  width: 139px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  background-image: url("/images/product-card-price-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* пагинация каталога */

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 224px;
}

.pagination-link-item {
  display: block;
  padding: 14px 20px 15px;
  width: 50px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #3d546f;
}

.pagination-link-item-current {
  color: #3d546f;
  background-color: transparent;
}

.loading-button {
  width: 200px;
  margin-left: 17px;
  padding: 14px 38px 13px;
  border-radius: 2px;
  background: #ee3643;
}

/* секция информации */

.information {
  margin: 50px 0;
  background: #F4F7F9;
}

.information-container {
  margin: 0 auto;
  padding: 52px 0;
  max-width: 1170px;
}

.information-title {
  margin: 0;
  font-size: 36px;
  font-family: "Fira Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #293449;
}

.information-description {
  margin: 30px auto 64px;
  max-width: 556px;
  font-size: 18px;
  color: #293449;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services-card {
  position: relative;
  padding: 24px 35px;
  width: 370px;
  min-height: 382px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.services-card::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 31px;
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-delivery::before {
  background-image: url("/images/icon-delivery.svg");
}

.card-guarantee::before {
  background-image: url("/images/icon-sale.svg");
}

.card-credit::before {
  background-image: url("/images/icon-paints.svg");
}

.services-card-title {
  margin-top: 136px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #293449;
}
.services-card-description {
  margin: 21px 0 0;
}

/* секция контактов */

.contacts {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
}

.contacts-container {
  width: 500px;
}

.contacts-title {
  margin: 2px 0 23px;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
}

.contacts-description {
  margin-bottom: 30px;
  color: #293449;
}

.contacts-link {
  display: block;
  margin: 52px 0 10px;
  padding: 14px 45px;
  max-width: 197px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #EE3643;
}

.map-link {
  padding-bottom: 49px;
}

/* подвал сайта */

.page-footer {

}

.page-footer-container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
}

.footer-upper-container {
  padding-bottom: 34px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 220px;
}

.link-social {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.1;
}

.subscription-form-footer {
  display: flex;
}

.input-field-footer {
  font-size: 14px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  line-height: 18px;
  padding: 10px 16px;
  width: 223px;
  border-radius: 2px;
  border: 1px solid #63A63E;
  background-color: #ffffff;
}

.input-field-footer::placeholder {
  font-size: 14px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  line-height: 18px;
  color: #bdbdbdbd;
}

.subscription-form-button {
  margin-left: -3px;
  width: 40px;
  height: 40px;
  background-color: #63a63e;
  border-radius: 2px;
}

.footer-lower-container {
  color: #ffffff;
  background-color: #293449;
}